# Database Connection (SQLite)
# Formatnya cukup "Data Source=NamaFile.db"
ConnectionStrings__DefaultConnection="Data Source=peminjaman.db"

# JWT Configuration (Wajib diisi biar Login jalan)
Jwt__Key="Ganti_Dengan_Key_Rahasia_Minimal_32_Karakter_Acak"
Jwt__Issuer="PENS_API"
Jwt__Audience="PENS_APP"